@import "tailwindcss";

:root {
  --background: #3d3838;
  --foreground: #ffffff;
  --primary: #bdac98;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-zcool: var(--font-zcool);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .font-old-standard {
    font-family: var(--font-old-standard);
  }

  .font-barlow {
    font-family: var(--font-barlow);
  }

  .font-ovo {
    font-family: var(--font-ovo);
  }

  .font-palanquin {
    font-family: var(--font-palanquin);
  }

  .font-proxima {
    font-family: var(--font-proxima-nova);
  }

  .font-times {
    font-family: "Times New Roman", serif;
  }

  .font-zcool {
    font-family: 'ZCOOL XiaoWei', serif;
  }
}
